/* Tabs (Männer / Frauen) */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  border-radius: 8px;
}

/* Aktiver Tab */
.active-tab {
  background: black;
  color: blue;
}

/* Service Liste */
.services {
  margin-bottom: 20px;
}

/* Einzelne Service-Karte */
.service-card {
  cursor: pointer;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

/* Header (Name + Preis) */
.service-header {
  display: flex;
  justify-content: space-between;
}

/* Ausgewählter Service */
.service-card.active {
  background: green;
  color: white;
  border-radius: 8px;
}